@model LMS.Models.Group

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_GroupTest.cshtml";
}


<h3>Ви впевнені, що хочете видалити цю групу?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Назва")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Початок занять")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayName("Кінець занять")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayName("Курс")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Список груп", "Index")
        </div>
    }
</div>
