@model LMS.Models.ApplicationUserInfo


<script src="/Scripts/ImageShow.js"></script>

@using (Html.BeginForm("Edit", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Image" value="/Content/img/fff.png" />

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-group">
            @*@Html.Label("Image preView", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <img id="blah" src="~/Content/img/fff.png" alt="userImage" />
            </div>
        </div>
        <div class="form-group">
            @*@Html.Label("Image", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <img id="blah" src="@Model.Image" alt="userImage" height="200" width="150" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Local image file", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="newFile" id="file" accept="Content/img/User/*" onchange="readURL(this)" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Image from site", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("fileSite", null, new { onchange = "readURLText(this.value)" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", @id = "birthday", placeholder = "Enter Drop-off date here..." })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        

       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}